
body {
    margin: 0px;
    --aside-width: 200px;
    --horizontal-margin:10px;
    --picture-width:200px;
    /*--section-width:calc(98vw - var(--aside-width) - var(--horizontal-margin) );*/
    padding-bottom:50px;
}


section {
    margin:30px var(--horizontal-margin);
    /*width: var(--section-width);*/
    padding-right: calc(var(--aside-width) + var(--horizontal-margin) )
}




#recipeImage {
    max-height: 200px;
    width: var(--picture-width);
    float:left;
    margin-right: var(--horizontal-margin);
}

.titre_court {
	font-size: 30px;

}

.titre_long {
    color: #ADB2B5;
    font-size: 15px;
    display: block;

}

