.Connexion {
    background-color: white;    
    text-align: center;
    margin-left: 280px;
    margin-right: 280px; 

}
.Inscription {
    background-color: white;    
    text-align: center;
    margin-left: 280px;
    margin-right: 280px; 
}