
/*Couleurs du titre et fond du header*/
.TitreSite
{color : #E31919;
 text-align : center;
 font-weight: bold;
 text-decoration : underline;
 font-size : xx-large;
 }

 .Soustitre
 {color : white;
 text-align: center;
 font-weight: normal;
 text-decoration: none;
 font-size: large;
 font-style: italic; 
 }

.liensrecherches
{
text-align: justify;
color : #10D0F7;
}

header
{background-color : black;
height : 125px;
width : 500px;
margin : auto;
border-style: double;
border-color: white;
border-top-left-radius: 15px;
border-bottom-right-radius: 15px;
}

body
{
background-image: url("../images/The_Archangel.jpg");
background-attachment: fixed;
background-repeat : repeat;
background-position: center;
opacity: 1;
}

main
{
background-color: rgba(255, 255, 255, 0.5);
//-webkit-hyphens: auto;
//-moz-hyphens: auto;
//-ms-hyphens: auto;
//-o-hyphens: auto;
//hyphens : auto;
overflow : hidden;
text-overflow : ellipse;
margin-left: 10%;
margin-right: 10%; 
color : black;
opacity: 1;
}


footer
{background-color : black;
color : white;
font-size : small;
text-align : right;}

